<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>
</head>

<body>
    <h1>Contatos</h1>

    <div class="example-button-row">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <button mat-button-toggle value="bold" mat-raised-button href="https://wa.me/5561982959376" target="_blank">WhatsApp</button>
            <button mat-button-toggle value="bold" mat-raised-button color="primary" href="https://www.linkedin.com/in/guinther-erich/" target="_blank">LinkedIn</button>
            <button mat-button-toggle value="bold" mat-raised-button color="warn" href="mailto:guinther.erich@gmail.com">Gmail</button>
        </mat-button-toggle-group>
    </div>
</body>

</html>